<section id="details-page">
  <article class="details-gage-title">
    <h1>Details Page</h1>
  </article>
  <article class="details-page-card">

    <article class="details-page-card-image">
      <img src="/static/img/man.png" alt="details-image" />
    </article>

    <article class="details-page-card-content">
      <p>Author: {{email}}</p>
      <h2>Headline: {{headline}}</h2>
      <h3>Company name: {{companyName}}</h3>
      <h4>Company description: {{companyDescription}}</h4>
      <h5>Location: {{location}}</h5>

      <article class="details-page-card-buttons">
        {{#if isOwner}}
          <a href="/ads/{{_id}}/edit" class="btn-edit">Edit</a>
          <a href="/ads/{{_id}}/delete" class="btn-delete">Delete</a>
        {{else if user}}
          {{#if appliedForJob}}
              <p class="already-applied">You have already applied!</p>
            {{else}}
              <a href="/ads/{{_id}}/apply" class="btn-apply">Apply now!</a>
              <p class="applied-people">Hurry up, 1 people have already applied.</p>
          {{/if}}
        {{/if}}
      </article>
    </article>

  </article>
</section>

{{#if isOwner}}
  <section id="info-about-candidates">
    <h2>Candidates for this ad:</h2>
    {{#if jobApplicants}}
      {{#each jobApplicants}}
        {{> job-applicant}}
      {{/each}}
    {{/if}}
  </section>
{{/if}}